.personalLoan_sliderPage{
   margin-top: 20px;
    height: 410px;
    border: 2px solid rgb(81, 240, 13);
    text-align: center;
    font-size: large;
    margin-left: 70px;
    width: 100% !important;
       background-color:rgb(40, 34, 34);
}
.text{
     margin: 20px;
}
.image{
     margin: auto;
}

.button{
    background-color: #ea7908; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    
    
    
}
.button1 {
   background-color: #ea7908; 
    color: black; 
    border: 2px solid yellow;
    margin: 5px;
    border-radius: 20px;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }
  