
.inputField{
   width: 50%;
   margin-left: 120px;
}
.button {
   background-color: #4CAF50;
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
   border-radius: 15px;
 }
.button2 {
  background-color: orange !important; 
  color: black; 

  border: 1px solid red !important;
}