:root {
  /* Colors: */
  --unnamed-color-f34242: #f34242;
  --light-grey: #aaaaaa;
  --medium-grey: #838081;
  --body-2-grey: #666666;
  --body-1-grey: #444444;
  --orange: #e9751e;
  --purple: #5f4687;
  --green: #60bd2e;
  --background-white: #fafafa;
  --unnamed-color-333333: #333333;

  /* Font/text values */
  --unnamed-font-family-open-sans: Open Sans;
  --unnamed-font-style-normal: normal;
  --unnamed-font-style-italic: italic;
  --unnamed-font-weight-600: 600px;
  --unnamed-font-weight-normal: normal;
  --unnamed-font-size-10: 10px;
  --unnamed-font-size-12: 12px;
  --unnamed-font-size-13: 13px;
  --unnamed-font-size-15: 15px;
  --unnamed-font-size-10-5: 10.5px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-line-spacing-15: 15px;
  --unnamed-line-spacing-18: 18px;
  --unnamed-line-spacing-20: 20px;
}

/* Character Styles */
.h1 {
  font-family: var(--unnamed-font-family-open-sans);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-600);
  font-size: var(--unnamed-font-size-15);
  line-height: var(--unnamed-line-spacing-20);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--purple);
}

.h2 {
  font-family: var(--unnamed-font-family-open-sans);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-600);
  font-size: var(--unnamed-font-size-13);
  line-height: var(--unnamed-line-spacing-18);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--purple);
}

.b1 {
  font-family: var(--unnamed-font-family-open-sans);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-12);
  line-height: var(--unnamed-line-spacing-18);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-333333);
}

.b2 {
  font-family: var(--unnamed-font-family-open-sans);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-10-5);
  line-height: var(--unnamed-line-spacing-15);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-333333);
}

.info {
  font-family: var(--unnamed-font-family-open-sans);
  font-style: var(--unnamed-font-style-italic);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-10);
  line-height: var(--unnamed-line-spacing-15);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--medium-grey);
}

.mainTestimonial {
  width: 100%;
  height: auto;
  margin-top: 100px;
}

.service-text {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600)
    18px/22px "Montserrat";
  color: var(--orange);
  text-align: center;
  font: normal normal 600 18px/22px "Montserrat";
  letter-spacing: 3.29px;
  color: #e9751e;
  text-transform: uppercase;
  margin-top: -80px;
}

.provide-content {
  text-align: center;

  margin-left: 0;
  margin-right: 0;
  margin-bottom: 60px;
  width: 742px;
  height: 110px;

  /* UI Properties */
  position: relative;

  font: var(--unnamed-font-style-normal) normal bold 44px/50px
    var(--unnamed-font-family-open-sans);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--purple);
  text-align: center;
  font: normal normal bold 44px/50px Open Sans;
  letter-spacing: 0px;
  color: #5f4687;
  opacity: 1;
  font-weight: 600 !important;
}

.provide-content::after {
  content: "";
  width: 90px;
  display: inline-block;
  position: absolute;
  bottom: -21px;
  height: 5px;
  /* border: 3px solid #A38CC9; */
  left: 45%;
  background: #a38cc9 0% 0% no-repeat padding-box;
}

.heading-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.our-service-card {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 30px #eae4f3;
  border-radius: 8px;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 15px;
  padding-right: 15px;
  /* padding: 0 !important; */
  /* width: 23% !important; */
}
.our-service-card:first-child {
  margin-left: 0 !important;
}
.our-service-card:last-child {
  margin-right: 0 !important;
}
.our-service-main-card-content {
  padding: 24px;
}
.service-card-card {
  margin-top: -20px !important;
  padding-left: 90px;
}
.save-money {
  width: 41px;
  height: 36px;

  /* UI Properties */

  background: transparent url("save-money.svg") 0% 0% no-repeat padding-box;
}
.business-lone {
  width: 41px;
  height: 36px;

  /* UI Properties */

  background: transparent url("Group 1236.svg") 0% 0% no-repeat padding-box;
}
.education-lone {
  width: 41px;
  height: 36px;

  /* UI Properties */

  background: transparent url("Group 1231.svg") 0% 0% no-repeat padding-box;
}
.car-lone {
  width: 41px;
  height: 36px;

  /* UI Properties */

  background: transparent url("Group 1231(1).svg") 0% 0% no-repeat padding-box;
}
/* .main{
 
  background-color: white;
  color: rgb(242, 242, 245);
  text-align: center;
  font-size: large;
  margin-top: 10px;
  width: 100%;
  height: 900px!important;
} */

.card_Base_Container{
  border:1px solid red;
  height: auto;
  width:100% ;
  background-color: white;
}

*{
   margin: 0;
   padding: 0;
}
/* .row{
  margin-left: -150px;
  margin-right: -157px;
  margin-top: 43px;
} */