/* OTP generation Page CSS */
.OTPGeneration {
  padding: 10px;
  border: 2px solid rgb(137, 217, 10);
  width: 85%;
  margin-top: 20px;
  margin-left: 110px;
  padding-top: 45px;
  height: 450px;
  border-radius: 40px;
}
.button-Design1 {
  background-color: orange;
  color: white;
  width: 120px;
  height: 7px !important;
  box-shadow: 25px;
  border-radius: 17px;
  cursor: pointer;
  padding-bottom: 38px;
  margin-left: 250px !important;
}
.inputDesign {
  width: 40% !important;
  margin-left: 200px;
}
b {
  color: red;
}

/* OTPverfiy css file */

/* background-color:skyblue;  (inside catainer)*/
/* .container {
    border: 2px solid yellow;
    width: 85%;
    margin-top: 40px;
    margin-left: 110px;
    padding-top: 45px;
    height: 450px;
    box-shadow: 20px;
    border-radius: 40px;
  } */
.OTPverify {
  border: 2px solid yellow;
  width: 85%;
  margin-top: 20px;
  margin-left: 110px;
  padding-top: 45px;
  height: 450px;
  box-shadow: 20px;
  border-radius: 40px;
}
.button_Style {
  background-color: orange;
  color: white;
  width: 120px;
  height: 7px !important;
  box-shadow: 25px;
  border-radius: 17px;
  cursor: pointer;
  padding-bottom: 38px;
  margin-left: 250px !important;
}
.inputfield {
  width: 35%;
  margin-left: 200px;
}
.otpContainer{
  display: flex;
  justify-content: center;
}

.otpInput {
  width: 3rem !important;
  height: 3rem;
  margin: 0 1rem;
  font-size: 2rem;
  text-align: center;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.button_Style1{

  /* color: white;
  background-color: orange;
  height: 50px;
  font-size: 18px;
  margin-left:230px;
  margin-bottom: 50px; */
  background-color: #4CAF50; /* Green */
  border: 1px solid yellow;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 230px ;
  margin-top: 15PX;
  cursor: pointer;
  border-radius :15px;
  background-color: orange;
}


